<div class="block">
  <div class="container">
    <header class="block__header">
      <h2 class="block__heading">Lets get started</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Expedita
        distinctio nisi soluta nostrum voluptates excepturi ut in natus qui
        sint?
      </p>
    </header>
  </div>
</div>
<div class="block block--dark block--skewed-left">
  <div class="container">
    <header class="block__header">
      <h2 class="block__heading">Lets get started</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Expedita
        distinctio nisi soluta nostrum voluptates excepturi ut in natus qui
        sint?
      </p>
    </header>
  </div>
</div>
