<div class="collapsible collapsible--expanded">
  <header class="collapsible__header">
    <h2 class="collapsible__heading">Title 1</h2>
    <svg class="icon icon--white collapsible__icon">
      <use xlink:href="images/sprite.svg#line"></use>
    </svg>
  </header>
  <div class="collapsible__content">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem,
      repellendus. Perferendis nam modi voluptates repellat, deleniti cupiditate
      ab porro at.
    </p>
  </div>
</div>
<script src="js/main.js"></script>
